<div class="container">
	

<h1>Editing Blog</h1>

<%= render 'form', blog: @blog %>

<%= link_to 'Show', @blog, class: 'btn sbtn-secondary' %> |
<%= link_to 'Back', blogs_path, class: 'btn btn-primary' %>
</div>