<!-- Index page -->
<html>
<head>
	<title>Bloggersite</title>
	<meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <!-- Latest compiled and minified CSS -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	  	<!-- jQuery library -->
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	  	<!-- Latest compiled JavaScript -->
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
	  <style type="text/css" media="screen">
	  	body{
	  		background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09");
		      background-repeat: no-repeat;
		      background-size: cover;
		      background-position: center center;
		      color: #fff;
		      height: 450px;
		      padding-top: 50px;
	  	}	
	p{
		    font-size: 24px
	}
    </style>
</head>
<body>
   <div class = "clearfix">
	<div class = "container">
	        <h1>Welcome to Ruby on Rails Blog!</h1>
 	 <!-- <nav class="navbar navbar-full navbar-dark bg-success"> -->
		<p class="navbar-text pull-left">
			<%= link_to 'My Blog', controller: 'articles', class: 'navbar-brand'  %>  
		<p class="navbar-text pull-right">
         <%= link_to 'Admin Login', new_admin_session_path, :class => 'navbar-link' %> 
           <%= link_to 'User Login', new_user_session_path, :class => 'navbar-link' %>
            </p>
    </div>
</div>
</div>
</body>
</html>
